* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #6F64F8;
}
@font-face {
    font-family: 'Montserrat300'; 
    src: url(../fonts/Montserrat/Montserrat-Light.ttf); 
   }
  
@font-face {
   font-family: 'Montserrat400';
   src: url(../fonts/Montserrat/Montserrat-Regular.ttf); 
}

@font-face {
    font-family: 'Montserrat500';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf); 
}

@font-face {
    font-family: 'Montserrat600';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf); 
}

body {
    padding: 30px;
    background-color:  #F9F9F9;
}

header {
  height: 100px;
  padding-left: 10px;
}

header .left-side{
   display: flex;
   flex-direction: row;
   align-items: center;
}

header .left-side .logo {
   width: 91px;
   height: 72px;
}

header .left-side h1 {
   font-family: 'Montserrat600';
   font-size: 48px;
   color: var(--primary-color);
   margin-left: 22px;
}

ul.breadcrumb {
    font-family: 'Montserrat400';
    padding: 10px 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
  
ul.breadcrumb li a {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

ul.breadcrumb li .arrow{
    font-size: 14px;
    color: #2C2C2C;
    margin: 0 10px;
}

ul.breadcrumb li:nth-of-type(1) a {
    font-size: 19px;
}

ul.breadcrumb li:nth-of-type(3) a {
    color: #2C2C2C;
}

ul.breadcrumb li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

article {
    display: flex;  
    width: 100%;
}

aside.filters {
    color: #2C2C2C;
}

.filters__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.filters__title h4 {
    font-family: 'Montserrat400';
    font-size: 18px;
}

.btn-small {
    width: 47px;
    height: 40px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border: none;
    border-radius: 8px; 
}

.btn-filter {
    display: none;
    font-size: 16px;
    padding-top: 3px;
    margin-right: 10px;
}

.btn-filter:hover {
    background-color: rgb(250, 249, 249);
}

.filters__title button {
    background-color: #FFFFFF;
}

.filters__title button:hover {
    background-color: rgb(250, 249, 249);
}

.filters__title button .arrow {
    font-size: 17px;
    line-height: 40px;
}

.filters__list {
    height: calc(100% - 95px - 70px);
    min-height: calc(1520px - 105px - 56px);
    width: 535px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    margin-top: 10px;
    padding: 20px 144px 20px 30px;
}

.filters__list hr {
    margin: 25px 0;
}

.filters__multi-range h5, .filters__category h5, .filters__brand h5 {
   font-family: 'Montserrat600';
   font-size: 18px;
   margin: 5px 0 15px 0;
}

.filters__multi-range ul, .filters__category ul, .filters__brand ul {
    width: 100%;
    list-style: none;
}

.filters__multi-range ul li, .filters__category ul li, .filters__brand ul li {
   font-family: 'Montserrat300';
   font-size: 16px;
   line-height: 32px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.filters button.clear-all {
    width: 100%;
    height: 56px;
    color: white;
    font-family: 'Montserrat400';
    font-size: 18px;
    background: #6F64F8;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border: none;
    border-radius: 8px;
    margin-top: 28px;
}

.filters button.clear-all:hover {
    background-color: #574fc4;
}

section.products {
    font-family: 'Montserrat400';
    margin-left: 20px;
}

.products__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 2.2%);
    font-size: 18px;
    margin: 0 1.1%;
}

.products__info button {
    font-size: 15px;
    background-color: var(--primary-color);
    color: white;
}

.products__info button:hover {
    background-color: #574fc4;
}

.products__search {
    width: calc(100% - 2.2%);
    height: 50px;
    font-family: 'Montserrat400';
    font-size: 22px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border: none;
    border-radius: 8px;
    padding: 0 30px;
    margin: 12px 1.1% 10px;
}

.search-icon {
    position: relative;
    color: gray;
    float: right;
    top: -42px;
    right: 38px;
}

.search-icon:hover {
    color: var(--primary-color);
}

.search-icon::after {
    content: '';
    clear: both;
    display: block;
}

.products__product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
}

.card {
    width: 31%;
    height: 486px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    margin: 1.15%;
}

.card__content {
    padding: 31px 24px 0;
}

.card__content .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 285px;
}
.card__content .img-content .product-img {
    max-width: 90%;
    height: auto;
} 
.card__content .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Montserrat400';
    margin: 16px 0;
}

.card__content .details__rating {
    width: 65px;
    height: 30px;
    background: var(--primary-color);
    border-radius: 3px;
    padding: 6px 10px;
}

.card__content .details__rating output {
    font-size: 14px;
    color: white;   
}

.card__content .details__rating svg {
    margin-left: 5px;
}

.card__content .details__price {
    font-size: 18px;
    line-height: 30px;
}

.card__content .description h4 {
    font-family: 'Montserrat400';
    font-size: 16px;
    line-height: 19px;
    margin: 18px 0 3px; 
}

.card__content .description p {
    font-family: 'Montserrat300';
    font-size: 12px;
    line-height: 18px;
}

.card .buttons-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.card .buttons__wishlist, .buttons__add-to-cart {
    width: 50%;
    height: 45px;  
    font-family: 'Montserrat600';
    font-size: 14px;
    line-height: 18px;
    border: none;
}

.card .buttons__wishlist {
    background-color: #EDEDED;
    border-radius: 0px 0px 0px 8px;
}

.card .buttons__wishlist:hover {
    background-color: #d1cece;
}

.card .buttons__wishlist svg {
    font-size: 15px;
    margin-right: 2px;
}

.card .buttons__wishlist span, .buttons__add-to-cart span {
    line-height: 18px;
    margin-left: 2px;
}

.card .buttons__add-to-cart {
    position: relative;
    background-color: var(--primary-color);
    border-radius: 0px 0px 8px 0px;
}

.card .buttons__add-to-cart:hover {
    background-color: #574fc4;
}

.card .buttons__add-to-cart svg {
  font-size: 17px;
  color: white;
  margin-right: 3px;
}

.card .buttons__add-to-cart span {
    color: #FFFFFF;
}

/*styles for input with type="checkbox" */
  .custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  .custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  .custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #999999;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
  .custom-checkbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--primary-color);
  }
  
  .custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #6F64F8;
    border-color: #999999;
  }

  .custom-checkbox>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem #6e64f89f;
  }

  .custom-checkbox>input:focus:not(:checked)+span::before {
    border-color: #999999;
  }

  .custom-checkbox>input:checked+span::before {
    border-color: #999999;
    background-color: var(--primary-color);
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); */
  }

  .custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
  }

/* styles for input with type="radio" */
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #999999;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: var(--primary-color);
}

.custom-radio>input:not(:disabled):active+span::before {
  background-color: #6F64F8;;
  border-color: #999999;
}

.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem #6e64f89f;
}

.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #6e64f89f;
}

.custom-radio>input:checked+span::before {
  border-color: #6e64f89f;
  background-color: var(--primary-color);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e"); */
}

.custom-radio>input:disabled+span::before {
  background-color: #e9ecef;
}
/* end of cb & radio inputs styling */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: 'Montserrat400';
    font-size: 18px;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .pages {
    height: 40px;
    line-height: 40px;
    background-color: #EDEDED;
    border-radius: 20px;
}
.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
}

.pagination a.active {
    background-color: var(--primary-color);
    color: white;
}

.pagination a.prev, .pagination a.next {
    margin: 0 15px;
    background-color: #EDEDED;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}


@media screen and (max-width:1750px) {
   .filters__list {
       width: 390px;
       padding-right: 40px;
   } 
}

@media screen and (max-width:1590px) { 
   .card {
       height: 500px;
   }
}

@media screen and (max-width:1440px) { 
    section.products {
        margin-left: 0;
    }
    .btn-filter{
        display: inline-block;
    }
    .filters {
        position: absolute;
        top: 0;
        left: -500px;
        z-index: 1;
        background-color:  #F9F9F9;
        border: 1px solid lightgray;
        padding: 20px 8px;
    }
 }


@media screen and (max-width:1200px) { 
    .filters__list {
        width: 340px;
        padding-right: 40px;
    } 
    .card {
        height: 500px;
    }
}

@media screen and (max-width:1024px) { 
    .card {
        width: 47.7%;
        height: 485px;
    }
}

@media screen and (max-width:780px) { 
    .card {
        height: 500px;
    }
    .card .buttons__wishlist, .buttons__add-to-cart {
        font-size: 12px;
    }
    .card .buttons__add-to-cart svg {
        margin-right: 0;
    }
    .pagination .pages {
        overflow: hidden ;
    }
}

@media screen and (max-width:620px) { 
    body {
        padding: 15px;
    }

    header .left-side h1 {
        font-size: 42px;
        margin-left: 15px;
     }

    section.products {
        margin-left: 0;
    }
    .card {
        width: 97%;
        height: 500px;
    }
    .card .buttons__wishlist, .card .buttons__add-to-cart {
        font-size: 14px;
    }
    .card .buttons__add-to-cart svg {
        margin-right: 2px;
    }
}

@media screen and (max-width:420px) {   
    header{
        margin-bottom: 20px;
    }
    .filters__list {
        width: 300px;
        padding-left: 15px;
        padding-right: 20px;
    } 
    .card .buttons__wishlist, .buttons__add-to-cart {
        font-size: 12px;
    }
    .card .buttons__add-to-cart svg {
        margin-right: 0;
    }

}
